<nav class="ui massive borderless inverted menu">
    <header class="ui header item"><a href="/"> Weathertop </a></header>
    <div class="right menu">
        <a id="about" class="item" href="/about"> About Us </a>
        <div class="ui simple dropdown item">
            <img class="ui avatar image" src="/public/images/defaultAvatar.png">
            <i class="dropdown icon"></i>
            <div class="menu">
                <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
                <a id="account" class="item" href="/account"> Account </a>
                <a id="logout" class="item" href="/logout"> Logout </a>
            </div>
        </div>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>