{{> menu id="about"}}

<div class="ui container">
    <br>
    <div class="ui horizontal divider">
        <h1 class="ui header">Weathertop's Story</h1>
    </div>
    <h2 class="ui teal header">Providing Truly Personal Weather Tools</h2>
    <p>Understanding and preparing for weather conditions is vital:
        for recreation, for livelihoods, and for the preservation of cherished people
        and possessions alike. For empowered individuals around the world,
        weather is personal. Weathertop strives to empower our customers to
        harness their personal weather data to make decisions and take control
        of their lives and the world around them. We provide affordable, accurate
        and easy-to-install outdoor weather stations combined with bright, engaging
        indoor console displays and built-in connectivity to a powerful web-based
        dashboard and map of weather station readings. Share readings from your
        own station or follow other weather stations nearby or at your favorite
        recreational or work location. With Ambient Weather, you are no longer
        limited to the readings from distant weather stations that may not represent
        your local conditions.</p>
    <h2 class="ui teal header">The Most Connected Weather Experience</h2>
    <p>Our personal weather dashboard at AmbientWeather.net is the most
        versatile and intuitive in the industry. Posting data online from your own
        station online is free and requires only a quick connection of your station
        console to your Wi-Fi network. Connect with other nearby stations, or track
        distant weather at your favorite ski area, marina, beach or work location. And,
        once connected, you can interact with your personal
        station data on Alexa, Google Home and IFTTT.</p>
</div>
<div class="ui container">
    <div class="ui vertical segment">
        <div class="ui three column stackable center aligned grid container">
            <div class="column">
                <img class="ui centered small circular image" src="https://cdn.glitch.global/a5b20e7a-0b38-4215-95fe-1ece87de474e/device.jpg?v=1660997965542">
                <h1 class="ui header">The Device</h1>
                <p>
                    Understanding and preparing for conditions is vital, and
                    that's why our wireless weather station
                    gives you the ability to easily monitor your outdoor conditions from either
                    a display or a computer all within the comfort of your own home or office.
                </p>
                <p>These weather stations give you the ability
                    to view the temperature, barometric pressure,
                    wind speed, wind direction and rainfall.
                </p>
            </div>
            <div class="column">
                <img class="ui centered small circular image" src="https://cdn.glitch.global/a5b20e7a-0b38-4215-95fe-1ece87de474e/data.jpg?v=1660997959311">
                <h1 class="ui header">The Data</h1>
                <p>
                    Weathertop Online extends the usage of the popular Weathertop
                    reading device to a personalised cloud based dashboard.
                </p>
                <p>Now you can have access to all historical readings, your own
                    personalised list of stations, trends and a handy visual
                    representation of the date from your machine
                </p>
            </div>
            <div class="column">
                <img class="ui centered small circular image" src="https://cdn.glitch.global/a5b20e7a-0b38-4215-95fe-1ece87de474e/team.jpg?v=1660997984515">
                <h1 class="ui header">Our Team</h1>
                <p>
                    Weathertop has been a market leader in weather stations,
                    environmental monitoring instruments and intuitive web-based dashboards
                    for viewing and sharing weather data for over two decades.
                </p>
                <p>The team are just like super nice, and neat and cool people and
                    they know stuff about weather, and clouds and rain and all that
                    neat cool stuff too. Can't go wrong really.
                </p>
            </div>
        </div>
    </div>
</div>
