{{> menu id="dashboard"}}

<div class="ui container">
  <br>
  <div class="ui horizontal divider">
    <h1 class="ui header">{{user.firstName}}'s Stations</h1>
  </div>
    {{> liststations}}
    {{> map}}
  <div class="ui section divider"></div>
    <h3 class="ui header">Add a New Station</h3>
    {{> addstation}}
</div>



        