{{> menu id="dashboard"}}

<div class="ui container">
    <br>
    <div class="ui horizontal divider">
        <h1 class="ui header">Member's Stations</h1>
    </div>
  {{> liststations}}
  {{> addstation}}
</div>


        