{{> welcomemenu id="signup"}}

<style>
    body {
        background-color: #DADADA;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        margin-top: 50px;
        max-width: 600px;
    }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1 class="ui teal image header">
            <img src="https://cdn.glitch.global/a5b20e7a-0b38-4215-95fe-1ece87de474e/logo.png?v=1660997976634" class="image">
            <div class="content">Create a New Account</div>
        </h1>
        <form class="ui large segment form" action="/register" method="POST">
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstname">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastname">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" name="email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <button class="ui teal submit button">Submit</button>
        </form>
    </div>
</div>